<footer>
  <div class="contact-info">
    <a href="mailto:support@sentservices.com">support@sentservices.com</a>
    <p>📞(512) 524-7802‬</p>
  </div>
 <div class=" social-icons">
    <a href="https://www.facebook.com/groups/406922236853328/"><img src="/assets/facebook-icon.png" width="30" height="30" alt="facebook-icon"></a>
    <a href="https://www.instagram.com/Sent.Services/"><img class="space-around-left" src="/assets/instagram-icon.png" width="30" height="30" alt="instagram-icon"></a>
    <a href="https://twitter.com/SentServices"><img class="space-around-right" src="/assets/twitter-icon.png" width="30" height="30" alt="twitter-icon"></a>
    <a href="https://www.linkedin.com/company/sentservices/"><img src="/assets/linkedin-icon.png" width="30" height="30" alt="linkedin-icon"></a>
  </div>
  <p class="trademark">©2020 by <span id="company-name">Sent LLC</span></p>
</footer>