<nav class="main-nav">
<a href="/">
  <div class="sent-logo">
    <div class="logo-img-div">
      <img
        src="./assets/Sent Logo Official Flat copy.png"
        alt="Sent Logo"
        class="logo-img"
      />
    </div>
    <div class="logo-description">
      <h2 class="logo-description-name">Sent</h2>
      <p class="logo-description-desc">Bring Students Closer to Home</p>
    </div>
  </div>
</a>
<div class="faq">
  <h2>FAQ</h2>
</div>
</nav>