<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Deliveries Service | Sent</title>
  </head>
  <body>
    <div id="suket">
      <h1>Suket is cooler</h1>
    </div>
    <div id="avi"></div>
    <div id="kaustub"></div>
  </body>
</html>
