<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Deliveries Service | Sent</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="suket">
      <nav class="main-nav">
        <a href="#">
          <div class="sent-logo">
            <div class="logo-img-div">
              <img
                src="./assets/Sent Logo Official Flat copy.png"
                alt="Sent Logo"
                class="logo-img"
              />
            </div>
            <div class="logo-description">
              <h2 class="logo-description-name">Sent</h2>
              <p class="logo-description-desc">Bring Students Closer to Home</p>
            </div>
          </div>
        </a>
        <div class="faq">
          <h2>FAQ</h2>
        </div>
      </nav>
      <section class="heading-top">
        <h1 class="main-heading">Need to Deliver?</h1>
        <p class="main-heading-caption">
          Sent offers speedy, point-to-point delivery from the DFW metroplex to
          Austin. Have anything that can fit in the back of car? Or anything
          your student forgot at home? Don't wait in long post-office lines. Get
          it sent.
        </p>
        <button class="order-now-btn">Order Now</button>
      </section>
      <section class="covid-notice">
        <p class="full-note">
          The health and safety of the Sent community is always our priority. We
          are actively monitoring the coronavirus (COVID‑19) situation and we
          are currently offering subsidized deliveries from Austin to Dallas for
          students that need small/medium sized items that they may have left
          back on campus.
        </p>
        <button>Learn More</button>
      </section>
    </div>
    <div id="avi"></div>
    <div id="kaustub"></div>
    <script src="./js/script.js"></script>
  </body>
</html>
