<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Deliveries Service | Sent</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="suket">
      <nav class="main-nav">
        <a href="#">
          <div class="sent-logo">
            <div class="logo-img-div">
              <img
                src="./assets/Sent Logo Official Flat copy.png"
                alt="Sent Logo"
                class="logo-img"
              />
            </div>
            <div class="logo-description">
              <h2 class="logo-description-name">Sent</h2>
              <p class="logo-description-desc">Bring Students Closer to Home</p>
            </div>
          </div>
        </a>
        <div class="faq">
          <h2>FAQ</h2>
        </div>
      </nav>
      <section class="heading-top">
        <h1 class="main-heading">Need to Deliver?</h1>
        <p class="main-heading-caption">
          Sent offers speedy, point-to-point delivery from the DFW metroplex to
          Austin. Have anything that can fit in the back of car? Or anything
          your student forgot at home? Don't wait in long post-office lines. Get
          it sent.
        </p>
        <button class="order-now-btn">Order Now</button>
      </section>
      <section class="covid-notice">
        <p class="full-note">
          The health and safety of the Sent community is always our priority. We
          are actively monitoring the coronavirus (COVID‑19) situation and we
          are currently offering subsidized deliveries from Austin to Dallas for
          students that need small/medium sized items that they may have left
          back on campus.
        </p>
        <button>Learn More</button>
      </section>
    </div>
    <div id="avi"></div>
    <!-- kaustub/feature/home-footer -->
    <div id="kaustub">
      <!-- Our Vision -->
      <h1 class="our-vision-title">Our Vision</h1>
      <section class="our-vision">
        <div class="vision-msg">
          <p>Hundreds of students travel home every weekend, yet students find it hard to get packages from their home without high shipping costs and long delivery times. 
            Sent is creating a platform that connects students going home with students wanting packages from home. Students receiving packages pay less than traditional shipping options, 
            and students carrying packages earn by monetizing the empty space in their travel bags: a platform for students, by students.
          </p>
        </div>
        <img src="/assets/UT_edited.jpg" alt="UT Austin">
      </section>
      <!-- Carrier Apply -->
      <section class="carry-packages column">
        <img class="carry-image" src=https://images.unsplash.com/photo-1494515843206-f3117d3f51b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 alt="bus-image">
        <img class="carry-hero" src="https://images.unsplash.com/photo-1530089711124-9ca31fb9e863?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="austin-city">
        <p class="carry-msg-title"> Carry Packages</p>
        <p class="carry-msg-subtitle">Going back home for the weekend? Want to <span>earn money</span> on your trip back to campus? Apply now to become a carrier for <span>Sent</span> and find people that need their packages delivered.</p>
        <button id="carry-apply-btn">Apply Now</button>
       </section>
      <!-- Footer and Social Links -->
      <footer>
        <div class="contact-info">
          <a href="mailto:support@sentservices.com">support@sentservices.com</a>
          <p>📞(512) 524-7802‬</p>
        </div>
       <div class=" social-icons">
          <a href="https://www.facebook.com/groups/406922236853328/"><img src="/assets/facebook-icon.png" width="30" height="30" alt="facebook-icon"></a>
          <a href="https://www.instagram.com/Sent.Services/"><img class="space-around-left" src="/assets/instagram-icon.png" width="30" height="30" alt="instagram-icon"></a>
          <a href="https://twitter.com/SentServices"><img class="space-around-right" src="/assets/twitter-icon.png" width="30" height="30" alt="twitter-icon"></a>
          <a href="https://www.linkedin.com/company/sentservices/"><img src="/assets/linkedin-icon.png" width="30" height="30" alt="linkedin-icon"></a>
        </div>
        <p class="trademark">©2020 by <span id="company-name">Sent LLC</span></p>
      </footer>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
