@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Navigation */

.main-nav {
  display: flex;
  padding-bottom: 1rem;
  background-color: transparent;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.white-back {
  background-color: #ffffff;
}

.sent-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto auto 1rem;
}

.logo-img {
  width: 60px;
  height: auto;
}

.logo-description {
  margin-left: 1rem;
}
.faq {
  padding-top: 15px;
  margin: 1rem 1rem auto auto;
}

.heading-top {
  padding: 7rem 20% 2rem 20%;
}

/* header banner */
.heading-top {
  background-image: url(../assets/open-box.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  color: #000000;
}

.main-heading-caption {
  margin: 2rem auto 2rem auto;
}

.main-heading {
  font-size: 4em;
}

.order-now-btn {
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #4fb4d7;
  color: #ffffff;
}

.order-now-btn:hover {
  background-color: #ec5d56;
}

.covid-notice {
  background-color: #ed6c67;
  color: #ffffff;
  display: flex;
  padding: 1rem 25%;
  text-align: center;
  line-height: 1.5rem;
  align-items: center;
}

.covid-notice button {
  height: 38px;
  width: 30rem;
  margin-left: 1rem;
  font-weight: 700;
  border: #000000 thin solid;
}

.covid-notice button:hover {
  background-color: #000000;
  color: #ffffff;
}

/* avi */
/* remove this before push */
#avi {
  height: 1000px;
}

/* Kaustub */

.our-vision {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  margin-bottom: 4em;
  text-align: center;
}

.our-vision-title {
  text-align: center;
  font-size: 2.5rem;
  color: #1cbcdc;
}

.vision-msg {
  background-color: #f0f0f0;
  border: 2px solid #000;
  padding: 8em 5em;
  border-radius: 250px/ 320px;
  min-width: 300px;
  max-width: 300px;
  font-weight: 300;
  z-index: 2;
  font-size: 16px;
  margin-right: 20em;
  /* height: 600px; */
}

.our-vision img {
  position: absolute;
  left: 45%;
  border-radius: 250px / 320px;
  width: 500px;
  z-index: 1;
}

.carry-packages {
  display: flex;
  height: 300px;
  position: relative;
}

.carry-image {
  width: 50%;
}

.carry-hero {
  width: 50%;
  opacity: 22%;
}

.carry-msg-title {
  position: absolute;
  left: 52.8%;
  font-size: 3rem;
  color: #058ddb;
}

.carry-msg-subtitle {
  position: absolute;
  left: 53%;
  top: 30%;
  width: 33%;
  font-weight: 300;
}

.carry-msg-subtitle span {
  font-weight: 500;
}

#carry-apply-btn {
  position: absolute;
  left: 53%;
  top: 65%;
  padding: 0.8em 3em;
  font-weight: 400;
  background-color: #008afc;
  color: #fff;
  border: 0px solid;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

#carry-apply-btn:hover {
  background-color: #2b6ca3;
}

footer {
  height: 250px;
  background-color: #2b6ca3;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

footer a {
  color: #fff;
  font-weight: 300;
}

footer a:hover {
  opacity: 70%;
  cursor: pointer;
}

.contact-info {
  padding-top: 2em;
}

.social-icons {
  margin-top: 2em;
}

.space-around-left {
  padding-left: 2em;
  padding-right: 1em;
}

.space-around-right {
  padding-left: 1em;
  padding-right: 2em;
}

.trademark {
  margin-top: 2em;
}

#company-name {
  font-weight: 500;
}

@media (max-width: 1136px) {
  html {
    font-size: 14px;
  }
  .carry-msg-subtitle {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .covid-notice {
    display: block;
  }
  .covid-notice button {
    width: 8rem;
  }
}

@media (max-width: 768px) {
  .our-vision {
    align-items: center;
    justify-content: center;
  }
  .our-vision img {
    display: none;
  }
  .vision-msg {
    margin-top: 1em;
    margin-right: 0;
  }
  .our-vision img {
    position: static;
  }
  .carry-image {
    display: none;
  }
  .carry-hero {
    width: 100%;
  }
  .carry-msg-title {
    font-size: 1.75rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .carry-msg-subtitle {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
  #carry-apply-btn {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
